name: Android CI

on:
  push:
    branches: [ "main" ,"feat/scanner-improvements","fix/gradle-wrapper-issue-5805217437026451173"]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      working-directory: ./scan

    - name: Build with Gradle
      run: ./gradlew assembleDebug
      working-directory: ./scan

    - name: Upload APK as artifact
      uses: actions/upload-artifact@v4
      with:
        name: debug-apk
        path: scan/app/build/outputs/apk/debug/app-debug.apk
